/* --styles the body of the html ------- */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #781c2e;
  margin-bottom: 40px;
}
/*color is called chrysler dark garnet red I like dark red it's a cool color--*/
.logo {
  font-family: Times New Roman, cursive;
  font-size: 72px;
  color: #781c2e;
  text-align: left;
  margin: 0;
  padding: 20px 0 0 0;
}


/* ---  Styles for navigation--- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* --- styles the navigation headers--*/
header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

header nav ul li a:hover {
  color: #bdbdbd;
}
/* styling for mobile always think mobile-first--*/
@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 12px 0 12px 20px;
    padding-top: 0;
    font-size: 42px;
  }
  
  header nav {
    margin-top: 14px;
  }
}

/* ---   --- */

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}
/*for the next section i want it to also have that really cool chryslergarnet red--*/
section.dark-background {   
  background-color: #781c2e;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 80px 0;
}
/*the footer to keep things streamlined should also have the chrysler garnet red--*/
footer {
  background-color: #781c2e;
  margin-top: 40px;
  margin-bottom: 0;
}

/* ---  The styling for headers, and general paragraphs --- */

h1 {
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  color: #403933;
}

h2 {
  font-size: 26px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  margin: 0 10px;
}

h3 {
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

p {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
}

main a {
	font-weight: 700;
	text-decoration: none;	
}

main  a:link { color: #38786a; }
main  a:visited { color: #38786a; }
main  a:hover { color: #403933; }
a:active { color: #403933; }


a:hover {
	text-decoration: underline;	
}

footer p {
  color: #000;
  text-align: center;
  padding: 20px;
}


main img {
  width: 100%;
}

img.image-enhanced {
  border-radius: 8px;
}

.group {
  display: flex-grow;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}



/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: column;
  }
}



/* Contact Form Design */

form {
  padding-right: 10px;
 
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 40px;
}

form textarea {
  height: 200px;
}
